<form *ngIf="!result" class="card">
  <div class="form-group">
    <label for="id">ID: </label>
    <input type="text" name="id" id="id" class="form-control" [(ngModel)]="personId" placeholder="ID" />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" [(ngModel)]="personName" placeholder="Name"  />
  </div>
  <div class="form-group">
    <label for="age">age</label>
    <input type="number" name="age" id="age" class="form-control" [(ngModel)]="personAge" placeholder="Age" />
  </div>
  <button class="btn btn-primary submit" (click)="addPerson()">add person</button>
</form>

<div 
  *ngIf="result" 
  class="personAdded"
  >
  {{result}}
  <br />
  <a routerLink="/persons">Go back to list</a>
</div>
