<div *ngIf="!person" class="card" style="width: 36rem;">
  <ul class="list-group list-group-flush">
    <li 
      *ngFor="let person of persons"
      class="list-group-item"
      (click)="select(person)"
      >
      {{ person.name }} | {{person.age}}
    </li>
  </ul>
</div>
<app-person *ngIf="person" [person]="person" (close)="person=undifined"></app-person>