<div class="card" style="width: 36rem;">
    <ul class="list-group list-group-flush">
      <li 
        *ngFor="let coin of coins"
        class="list-group-item"
        >
        {{ coin.symbol }} | {{coin.value}}
      </li>
    </ul>
  </div>
