<button class="btn btn-primary return" (click)="back()">return to list </button>
<div class="card" style="width: 14rem;">
  <div *ngIf="person" class="card-body">
    <h5 class="card-title">{{person.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">id: {{person.id}}</h6>
    <p class="card-text">age: {{person.age}}</p>
    <button class="btn btn-danger" (click)="deletePerson()">Delete</button>
  </div>
</div>
